cfgv==3.3.1
distlib==0.3.6
filelock==3.12.2
identify==2.5.24
joblib==1.2.0
nodeenv==1.8.0
numpy==1.25.0
platformdirs==3.6.0
pre-commit==3.3.3
pylint==2.17.5
PyYAML==6.0
scikit-learn==1.2.2
scipy==1.10.1
threadpoolctl==3.1.0
virtualenv==20.23.1
